.header {
    margin: 20px 0px 20px 0px;
}

.header-logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.header-text {
    padding: 0px 10px 0px 10px;
    display: inline-block;
    vertical-align: middle;
}
